[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "==2.0.2"
django-shortcuts = "==1.5"
pytz = "==2018.3"
selenium = "==3.9.0"


[dev-packages]



[requires]

python_version = "3.6"
