<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h2>Thank you for signing up!</h2>
        <div id="user">{{user}}</div>
        <h3>Enter a new student</h3>
        <form action='/students/new/' method="POST">
            {% csrf_token %}
            <input id="new_student" name="name" placeholder="Enter a new student's name" type="text"/>
            <input type="hidden" id="return_page" name="return_page" value="/dashboard/">
        </form>
        <div id="student_list">
            {% for student in students %}
                <p>{{ student.name }}</p>
            {% endfor %}
        </div>
        <h3>Create a new task</h3>
        {% include "task_form.html" %}
        <div id="task_list">
            {% for task in tasks %}
                <p>{{ task.name }}</p>
                
                <ul>
                    {% for assignment in task.assignments.all %}
                        <li>{{ assignment.student.name }}</li>
                        <form action="/assignments/{{ assignment.pk }}" method="POST">
                            {% csrf_token %}
                            <input name="grade"
                                class="grade_for_student"
                                data-task-name="{{ task.name }}"
                                data-student-name="{{ assignment.student.name }}"
                                type="number"
                                value="{{ assignment.grade }}" >
                        </form>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </body>
</html>