{% extends "base.html" %}
{% block content %}
<h3>Create a new assignment</h3>
<form action='/assignments/tasks/new/' method="POST">
    {% csrf_token %}
    <input id="new_task" name="name" placeholder="Enter the new task's name" type="text"/>
    <input type="hidden" id="return_page" name="return_page" value="/tasks/">
</form>
<div id="assignment_list">
    {% for task in tasks %}
        <p>{{ task.name }}</p>
        <ul>
            {% for student in task.students %}
                <li>{{ student.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}